body{
background-repeat: no-repeat;
display: flex;
width: 100%;
height: 100%;
justify-content: space-around;
border: 4px red solid;
}

@media screen and (max-width: 768px){
    .produto-container{
        width: 100%;
        flex-direction: column;
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    position: relative;
}
.container{
    height: 80vh;
    position: absolute;
    top: 650px;
    left: 5px;
    transform: translate(-1%, -1%);
}

.elemento {
    position: absolute;
    top: 100px;
    left: 400px;
}

.container2{
    height: 80vh;
    position: absolute;
    top: 70px;
    left: 20px;
    transform: translate(-1%, -1%);
}

.elemento2 {
    position: absolute;
    top: 800px;
    left: 800px;
}

.container3{
    height: 80vh;
    position: absolute;
    top: 40px;
    left: 20px;
    transform: translate(-1%, -1%);
}

.elemento3 {
    position: absolute;
    top: 399px;
    left: 800px;
}
.nuvem{
    animation: flutuacao 5s
    ease-in-out infinite;  
}
@keyframes flutuacao {
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-80px);
    }
}
